body {
	background-color: black;
	color: lightgray;
	font-size: 28px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-family: 'Overpass Mono', monospace;
	font-weight: 700;
}
a:link { color: white; text-decoration: none; display: block; }
a:visited { color: white; text-decoration: none; display: block; }
#container {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
#kategoria {
	width: 900px;
	margin-top: 25px;
	text-align: center;
}
#plansza {
	width: 900px;
	margin-top: 25px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 48px;
	min-height: 60px;
}
#szubienica {
	float: left;
	width: 450px;
	text-align: center;
	min-height: 280px;
}
#alfabet {
	float: left;
	width: 420px;
	margin-left: 30px;
	text-align: center;
	min-height: 280px;
}
.litera {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	float: left;
	cursor: pointer;
	border-radius: 15px;
}
.litera:hover { background-color: #222222; color: white; border: 3px solid #aaaaaa; }

.reset {
	color: #03a800;
	cursor: pointer;
	font-size: 48px;
}
.reset:hover { color: #23c810; }
#wersja {
	text-align: right;
	float: right;
	margin-top: 21%;
}